#logo {
    margin-top: 18vh;
}

img {
    max-width: 250px;
}

input[type=text] {
    width: 100%;
    outline: none;

}

#textInput {
    width: 600px;
    height: 3rem;
}

#imageText {
    position: relative;
    top: 60px;
    right: 50px;
}

#form-container {
    margin-left: 40px;

}

#advance-search {
    margin-left: 40px;
}